version: '3.8'

services:
  react-dev:
    build:
      context: .
    container_name: react-template-dev
    volumes:
      - ./:/app
      - /app/node_modules
    ports:
      - '5173:5173'
    environment:
      - NODE_ENV=development
      - HOST=0.0.0.0
    command: ['bun', 'run', 'start', '--host', '0.0.0.0']
