@layer utilities {
    @keyframes shimmer {
        0% {
            background-position: -1000px 0;
        }

        100% {
            background-position: 1000px 0;
        }
    }

    .animate-shimmer {
        background: linear-gradient(
            90deg,
            var(--color-accent) 0%,
            var(--color-accent) 40%,
            rgba(255, 255, 255, 0.2) 50%,
            var(--color-accent) 60%,
            var(--color-accent) 100%
        );
        background-size: 1000px 100%;
        animation: shimmer 2s infinite linear;
    }
}
