@layer base {
    /* Scrollbar Styling */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--muted-foreground) var(--muted);
    }

    *::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    *::-webkit-scrollbar-track {
        background: var(--muted);
        border-radius: 4px;
    }

    *::-webkit-scrollbar-thumb {
        background: var(--muted-foreground);
        border-radius: 4px;
        border: 1px solid var(--muted);
    }

    *::-webkit-scrollbar-thumb:hover {
        background: var(--foreground);
    }
}
